NODE_ENV=development
PORT=3000

# Database Configuration (Used by Docker Compose)
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=db_name

# Postgres connection string
# Local Postgres example: postgresql://postgres_user:postgres_password@localhost:5434/db_name
DATABASE_URL=postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@localhost:5434/<POSTGRES_DB>

# JWT Secrets
JWT_SECRET=changeme
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=changeme_refresh
JWT_REFRESH_EXPIRES_IN=7d
